@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Pacifico&family=Playfair+Display:ital@1&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Pacifico&family=Playfair+Display:ital@1&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/*=======-------
common css
          ================------*/

.container{
    max-width: 1200px;
    margin: 0, auto;
    padding: 30px;

}

.highlight{
    color: #db1482;
}
.first-button{
    outline: 0;
    padding: 10px 15px;
    border-radius: 20px;
    border-style:outset;
    color: white;
    font-size: 15px;
     font-weight: bold;
     background-color: #db1482;
     cursor: pointer;
    box-shadow:  15px  rgb(146, 75, 87);
    position: relative;
    top:0;

}
.first-button:active{
    top:5px;
    box-shadow: 8px  rgb(146, 75, 87); ;
}
header{
    height: 100vh;
    
    background-image:url(../images/photo-1499346030926-9a72daac6c63.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.2);
    background-blend-mode: overlay;
    
}
.headline{
    font-weight: bold;
    font-size:20px;
}


nav{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;

}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
   margin: 15px;
    }
.navigation li a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 600;
    padding: 15px, 10px;
}
.journey{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.journey-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.journey-left h1{
    font-size: 45px;
    font-style:normal;
    color:rgba(0,0,0,.9);
}
.journey-left p{
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    color:rgba(0,0,0,.8);
    margin: 20px 0;
}



.journey-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.journey-right img{
    width: 100%;
    height: 500px;
}


 /*=======----popular collection------=====*/


 .section-title{
     text-align: center;
 }
 .section-title h2{
     font-size: 40px;
     margin: 50px 0;
     border-bottom: 5px solid #db1482;
     display: inline-block;
     letter-spacing: 10px;
    justify-content: center; 
    align-items: center;
 }

   /* photo design */
    .object img{
       width: 250px;
       height: 100px;
   }
   .fa-star.filled{
       color: #FFC014;
   }
   .fa-star.empty{
       color: wheat;
   }
   .objects .object{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 30px;
   }
   /* contact */
   .contact{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap:30px
   }
.contact-left img{
width:100%
}
.contact-right form{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
}

/* Add Font Awosome Icon */
 footer {
     height: 50px;
   background-color: rgb(22, 22, 54);
   width:100%;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
  padding: 60px;
}
footer h3, p{
    color: whitesmoke;
    font-size: 20px;
}
.icon i{
cursor:pointer;
text-align: center;
padding-top:100px;

}
.icon i:hover{
   
   color: white;
    
}

/*--------
         Media Query 01
         --------------------  */

         @media only screen and (min-width: 600px) and (max-width: 800px) {

            body {
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
            }
    
            .navigation {
                    font-size: 20pxpx;
            }
    
            .container {
                    font-size: 32px;
                    margin-top: 20px;
                    line-height: 25px;
            }
    
           
            
    
            .navigation {
                    
                    text-align: center;
            }
    
            .h1 {
                    font-size: 30px;
            }
           p{
            font-size: 18px;
            width: 100%;
            margin: 5px;
           }
            .section {
                    margin-left: 0;
                    margin-right: 0;
                    display: flex;
                    padding: 5%;
                    
            }
    
            
            
    
            
        }
    
            .object {
                    
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
            }
    
           
            
    
            .contact {
                    display: block;
                    flex-direction: column;
                    height: 100%;
            }
    
            .contact-left img {
                   width:100%
    
            }
    
            /* Media Query 02 */

            @media only screen and (min-width: 250px) and (max-width: 500px) {

                body {
                        margin-left: 0;
                        margin-right: 0;
                        width: 100%;
                }
        
                .navigation {
                        font-size: 20px;
                       
                }
        
               
        
                .container {
                        font-size: 20px;
                        margin-top: 15px;
                        
                }
        
               
        
                .section {
                        width: 100%;
                        margin: 0 ,0;
                        display: block;
                       padding: 20px;
                        height: 100%;
                }
        
                
        
                
        
                .object {
                        width: 90%;
                        margin: 0 auto;
                        grid-template-columns: repeat(1, 1fr);
                        column-gap: 20px;
                }
                
                    p{
                        font-size: 18px;
                        width: 100%;
                        margin: 5px;
                   }
        
                .contact {
                        width: 100%;
                        display: block;
                        height: 100%;
                }
        
                .contact-left img {
                            width:100%
                        }
    
                    }
                
        